<div class="container">
  <div class="container-inner">
    <div class="main-content">
      <div class="main-headings" id="main-headings-js">
        <!-- <p id="by-line">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->

        <div class="heading">
          <h3 id="heading1">Passionate in,</h3>
          <br>
          <br>
          <!-- <h3 id="heading2">in,</h3> -->
          <h1 id="heading3">Coding</h1>
        </div>

        <div class="short-bio">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore, repellat, quod sed optio nesciunt aspernatur
            inventore ab, nostrum accusantium harum dolor voluptate nulla!</p>

        </div>

        <!-- <a href="#" class="link" onclick="readMore()">Read More</a> -->
      </div>

      <div class="more-info " id="more-info-js">

        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse expedita impedit iste, quibusdam debitis fugit repudiandae
          voluptatum vero quod nulla!</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita delectus iusto facere dignissimos quaerat facilis
          voluptatibus fuga quod impedit. Atque tenetur amet officia repudiandae odit.</p>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni saepe suscipit deleniti porro fugit! Atque nisi alias
          a porro fugiat incidunt exercitationem! Nihil, consectetur. Expedita.</p>
      </div>

    </div>

    <div class="image-wrapper">
      <div class="image-container">
        <img class="image" src="https://image.ibb.co/nNN2F7/10563168_502646859838377_1014207361810163604_n.jpg" alt="its me">
      </div>
    </div>
  </div>
</div>