// img.logo {
//   background: #fff;
//   padding: 11px;
//   display: flex;
//   float: left;
//   justify-content: left;
// }
.nav ul.logo {
  background: #ffffff;
  padding: 7px;
  // background: rgb(0, 0, 0);
  // width: 100%;
  // position: relative;
  justify-content: flex-start;
  text-align: left;
  margin: 0;
  display: inline-flex;
  float: left;
}
.nav ul.icon {
  background: rgb(0, 0, 0);
  width: 100%;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin: 0;
  display: inline-flex;
  float: center;
}

.nav li {
  font-size: 1pt;
  display: block;
  float: left;
  height: 50px;
  width: 80px; /*new*/
  text-align: center; /*new*/
  transition: all 0.2s ease-in-out;
}
.nav {
  background: #070707;
}
.nav b {
  font-size: 10px;
  // font-style: oblique;
  font-weight: 10;
}

.nav li a {
  font-family: FontAwesome;
  color: #eee;
  font-size: 12pt;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.nav li i {
  color: #646464;
  // color: #08fdd8;
  padding: 0 10px;
}
.nav li b {
  padding: 15px 0;
  display: none;
  color: #08fdd8;
}
.nav a:hover {
  color: #fff;
}
.nav a:hover i {
  display: none;
}
.nav a:hover b {
  display: block;
}
