<div class="main-container">
  <div class="header">


  </div>
  <div class="full-width">
    <hr>
    <div class="hero-img-container">


    </div>
    <hr>
  </div>
  <div class="work-container">
    <div class="section-title">
      <h3>Featured work</h3>
    </div>
    <div class="works work-one">
      <div class="work-img">
        <img src="http://via.placeholder.com/420x250" alt="First Phase Udacity Challenge Pixel Art Maker">
        <div class="text">
          <h4 class="animate-text">The Pixel Art Maker</h4>
          <hr class="animated-rule">
          <p class="animate-text">Here you will be able to create a canvas and draw your own artwork.</p>
        </div>
        <a href="">
          <button type="button" name="button" class="btn">View on GitHub</button>
        </a>
      </div>
      <div class="caption">
        <h3>Pixel Art Maker</h3>
        <p>Created for the Google Udacity Challenge.</p>
      </div>
    </div>
    <div class="works work-two">
      <div class="work-img">
        <img src="http://via.placeholder.com/420x250" alt="Animal Trading Card Udacity Project">
        <div class="text">
          <h4 class="animate-text">Animal Trading Card</h4>
          <hr class="animated-rule">
          <p class="animate-text">Here we were given a design guideline and had to produce a card (for a trading game) that followed a specific set
            of rules.</p>
        </div>
        <a href="">
          <button type="button" name="button" class="btn">View on GitHub</button>
        </a>
      </div>
      <div class="caption">
        <h3>Animal Trading Card</h3>
        <p>Created for Udacity FEND Nanodegree.</p>
      </div>
    </div>
    <div class="works work-three">
      <div class="work-img">
        <img src="http://via.placeholder.com/420x250" alt="Project 3">
        <div class="text">
          <h4 class="animate-text">My Portfolio</h4>
          <hr class="animated-rule">
          <p class="animate-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis animi quia, totam enim incidunt fugit sequi explicabo,
            repellendus, est tenetur laborum illum ipsum facilis. Obcaecati optio cum rem maxime aspernatur.</p>
        </div>
        <a href="">
          <button type="button" name="button" class="btn">View on GitHub</button>
        </a>
      </div>
      <div class="caption">
        <h3>Project 3</h3>
        <p>This is a caption.</p>
      </div>
    </div>
  </div>
</div>