<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/main.css">
  <title>Fancy Form</title>


  <style type="text/css">
    a {
      text-decoration: none;
      color: #fff;
      margin: 10px;
      -webkit-transition: color 2s;
      /* For Safari 3.0 to 6.0 */
      transition: color 2s;
      /* For modern browsers */
    }

    a:hover {
      color: #08fdd8;
    }
  </style>




</head>

<body>
  <div id="container">
    <h1 class="logo">Contact me</h1>
    <div id="form-box">
      <i id="prev-btn" class="fas fa-arrow-left"></i>
      <i id="next-btn" class="fas fa-arrow-right"></i>
      <div id="input-group">
        <input id="input-field" required>
        <label id="input-label"></label>
        <div id="input-progress"></div>
      </div>
      <div id="progress-bar"></div>
    </div>
  </div>

  <script src="js/main.js"></script>

  <!-- GOOGLE API-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLqL3gEP1laK4EiD_8j6mj_c5DfzIJHE8&callback=initMap">
  </script>

  <!-- GOOGLE API-->

  <h1>
    <a href="#">Hover on me</a>
  </h1>

</body>

</html>