<body>
  <script src="skill.component.js">

  </script>

  <ul class="skills-bar-container">

    <li>
      <div class="progressbar-title">
        <h3>HTML5</h3>
        <span class="percent" id="html-pourcent"></span>
      </div>
      <div class="bar-container">
        <span class="progressbar progressred" id="progress-html"></span>
      </div>
    </li>
    <li>
      <div class="progressbar-title">
        <h3>CSS / SASS</h3>
        <span class="percent" id="css-pourcent"></span>
      </div>
      <div class="bar-container">
        <span class="progressbar progressblue" id="progress-css"></span>
      </div>
    </li>

    <li>
      <div class="progressbar-title">
        <h3>JavaScript / jQuery</h3>
        <span class="percent" id="javascript-pourcent"></span>
      </div>
      <div class="bar-container">
        <span class="progressbar progresspurple" id="progress-javascript"></span>
      </div>
    </li>

    <li>
      <div class="progressbar-title">
        <h3>PHP</h3>
        <span class="percent" id="php-pourcent"></span>
      </div>
      <div class="bar-container">
        <span class="progressbar progressorange" id="progress-php"></span>
      </div>
    </li>

    <li>
      <div class="progressbar-title">
        <h3>AngularJS</h3>
        <span class="percent" id="angular-pourcent"></span>
      </div>
      <div class="bar-container">
        <span class="progressbar progressgreen" id="progress-angular"></span>
      </div>
    </li>

  </ul>
  <script>
    var lang = {
      "html": "100%",
      "css": "90%",
      "javascript": "70%",
      "php": "55%",
      "angular": "65%"
    };

    var multiply = 4;

    $.each(lang, function (language, pourcent) {

      var delay = 700;

      setTimeout(function () {
        $('#' + language + '-pourcent').html(pourcent);
      }, delay * multiply);

      multiply++;

    });
  </script>
</body>